
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Campo</th>
      <th scope="col">Informações</th>

    </tr>
  </thead>
<tbody>
  <tr>
    <td>Nome</td>
    <td><%=  usuario.nome   %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%=  usuario.email   %></td>
  </tr>
  <tr>
    <td>Profissao</td>
    <td><%=  usuario.profissao   %></td>
  </tr>
  <tr>
    <td>Telefone</td>
    <td><%=  usuario.telefone  %></td>
  </tr>
  <tr>
    <td>Instituicao</td>
    <td><%=  usuario.instituicao   %></td>
  </tr>
  <tr>
    <td>Local</td>
    <td><%=  usuario.local   %></td>
  </tr>

</tbody>
</table>
