<form aaction="new" method="post" enctype="multipart/form-data">
  <div class="row">


    <div class="mt-0 g-col-12 d-flex justify-content-center" style="background-color: rgb(178, 220, 248);" >
      <div class="form-group">
        <label for="tipo"><b>Tipo Problema::</b></label>
        <%= chamado.tipo %>
      </div>      
    </div>  


    <div class="mt-0 g-col-12 d-flex justify-content-center" style="background-color: rgb(178, 220, 248);">
      <div class="form-group">
        <label for="tipo"><b>Endereço:</b></label>
        <%= chamado.local %>
      </div>      
    </div>  

    <div class="mt-0 g-col-12 d-flex justify-content-center" style="background-color: rgb(178, 220, 248);">
      <div class="form-group">
        <label for="tipo"><b>Observação::</b></label>
        <%= chamado.obs %>
      </div>      
    </div>  


    <div class="mt-0 g-col-12 d-flex justify-content-center">
      <div class="form-group">
        <label for="tipo"><b>Encaminhado para:</b></label>
        <input type="text" placeholder="" name="encaminhado" value="<%= chamado.encaminhado %>" required>
      </div>      
    </div>  
    
    
    <div class="mt-0 col-12 d-flex justify-content-center">
      <div class="form-group">
        <label for="titulo"><b>Status Atendimento</b></label>
        <input type="text" placeholder="Titulo" name="statusatendimento" value="<%= chamado.statusatendimento %>"required>
      </div>      
    </div>      
    <div class="mt-04 g-col-12 d-flex justify-content-center">
      <div class="form-group">
        <label for="Obs"><b>Observação</b></label>
        <textarea name="textarea" name="obsatendimento" rows="10" cols="40"><%= chamado.obsatendimento%></textarea>
      </div>      
    </div>      
    <div class="mt-0 g-col-12 d-flex justify-content-center">
      <div class="form-group">
        <label for="Data"><b>Data</b></label>
        <input type="text" placeholder="data" name="dataatendimento" value="<%= chamado.dataatendimento%>"required>
      </div>      
    </div>      
    <div class="mt-0 g-col-12 d-flex justify-content-center">
      <div class="form-group">
          <button type="submit" class="editabtn">Atualizar</button>
      </div>      
    </div>      
    <div class="mt-0 g-col-12 d-flex justify-content-center">
      <div class="form-group">
          <button type="submit" class="cancelbtn">Cancelar</button>
      </div>      
    </div>      
  </div>      
        
</form>
