<style> 
.list_atender {
  border: black 1px solid;
  //background-color: blueviolet;
} 
</style>

<% for(var i=0; i<chamados.length; i++){%>
    <% cc = "background-color: #7bf47b;" %>
    <% if (chamados[i].statusatendimento == "Resolvido com sucesso") { %>
      <% cc = "background-color: #86abff;" %>
    <% } %>
    <% if (chamados[i].statusatendimento == "Nao Atendido") { %>
      <% cc = "background-color: #f48f8f;" %>
    <% } %>

    <div class="row list_atender" style="<%= cc%>">
      <div class="col-6" >
        <%=  chamados[i].tipo   %>
      </div>
       
      <div class="col-6" >
        <%=  chamados[i].statusatendimento   %>
      </div>
      <div class="col-6" >
        <%=  chamados[i].data   %>
      </div>
      <div class="col-6" >
        <%=  chamados[i].dataatendimento   %>
      </div>

      <div class="col-12" >
        <%=  chamados[i].titulo   %>
      </div>
      <div class="col-12" >
        <%=  chamados[i].obs   %>
      </div>
      <div class="col-12" >
        <%=  chamados[i].local   %>
      </div>

      <div class="col-8" >
      </div>
      <div class="col-4" >
        <a type="submit" class="edit" href="./<%=chamados[i]._id%>/resolver">Atender</a>
      </div>
    </div>
<%}%>

