<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Local</th>
      <th scope="col">Tipo</th>
      <th scope="col">Titulo</th>
      <th scope="col">Observasão</th>
      <th scope="col">Data</th>
      <th scope="col">Acções</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<chamados.length; i++){%>
      <tr>
        <td><%=  chamados[i].encaminhado   %></td>
        <td><%=  chamados[i].tipo   %></td>
        <td><%=  chamados[i].titulo   %></td>
        <td><%=  chamados[i].obs   %></td>
        <td><%=  chamados[i].data   %></td>
        <td>
          <a type="submit" class="edit" href="./atender/<%=chamados[i]._id%>/resolver">Atender</a>
        </td>
      </tr>
    <%}%>
  </tbody>

</table>
